@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

$top-bar-color: #1c1c1c00;

body, html {
    margin: 0;
    padding: 0;
}


#root {
    height: 100vh;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.3rem;
}

.App {
//    background-image: url("/file2.png");
//    background-position: center;
//    background-size: cover;
//    background-repeat: no-repeat;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h3 {margin: 0;}


button {
    padding: 1rem; 
    border-radius: 10px;
    font-size: 2.5rem;
}

#lobby {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#left-triangle {
    max-width: 2rem;
    height: 0;
    border-left: 50px solid transparent;
    border-top: 8rem solid $top-bar-color;
}
#right-triangle {
    max-width: 2rem;
    height: 0;
    border-right: 50px solid transparent;
    border-bottom: 8rem solid $top-bar-color;
}

#top-bar {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;

    img:last-child {
        margin-right: 1rem;
    }

        min-height: 8rem;

        >:last-child {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        > * {
            flex: 1;
        }

        > div > img {
            height: 2.5rem;
            max-width: 2.5rem;
            filter: invert(100%);
            margin: 0.3rem;
            animation: none;

    }


    .settings-icon {
        margin-right: 1rem;
    }

    .dark {
       filter: invert(50%);
        height: 2.4rem;
    }

    .damage {
        animation-name: damage;
        animation-duration: 0.15s;
    }

    #input-name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        input {
            margin: 0.3rem;
            height: 2rem;
            border-radius: 10px;
        }
    }
}


@keyframes damage {
    0% {
        height: 2.5rem;
        transform: translateX(0.5rem);
        filter: invert(100%);
    }
    50% {
        transform: translateX(-0.5rem);
    }
    100%{
        filter: invert(50%);
        height: 2.4rem;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0.5rem);
    }
    50% {
        transform: translateX(-0.5rem);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}

#message-thing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    h1 {
        animation: shake 0.2s 2, fadeOut 0.2s 2.3s;
    }
}
