.card {
    position: relative;
    background-color: #16181D;
    border: 0.2rem solid white;
    width: 10rem;
    min-width: 10rem;
    height: 14rem;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem #0004;

    transition: 0.2s;
}
#your-cards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    overflow-x: scroll;

    padding: 10rem;

    .card:not(:last-child) {
        margin-left: -2rem;
    }

    .card:hover {
        transform: translateY(-1.5rem);
    }

    .card:hover~.card {
        transform: translateX(-1.5rem);
    }

}
#dealt-cards {
    display: flex;
    flex-direction: row-reverse;    
    justify-content: center;
    overflow-x: scroll;

    .card:not(:last-child) {
        margin-left: -9.5rem;
    }
    .card {
    box-shadow: -1rem 1rem 1rem #0004;
    }
}                           

#spacer {
    flex: 1;
}
           
#newRound {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    h1 {
        animation: newRound 2s ease-in-out forwards;
        width: 100%;
        
    }
}

@keyframes newRound {
    0% {
        transform: translateX(-50%);
        opacity: 0%;
    }
    25%,75% {
        transform: translate(0%);
        opacity: 100%;
    }
    100% {
        transform: translateX(50%);
        opacity: 0%;
    }
}
