.player-card {
    display: inline-block;
   height: 2rem; 
   width: 1.3rem;
   border-radius: 0.4rem;
   margin: 0.2rem;

   border: solid white 3px;
}

.played {
   filter: invert(50%);
}

#players-container {
    display: flex; 
    > div {
        padding: 0.5rem;
        align-content: center;
    }
}
